#Directories
bin/
bin-int/
.idea/
# Visual Studio files and folder
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user 
**.dll 
**.lib
**.pdb

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dtbcache.json

# Build artifacts
bin/
obj/
Intermediates/
Cache/

# Git-specific
*.lock
*.db
*.db-shm
*.db-wal
*.vsidx

# OneDrive / temp files
~$*
*.tmp
